.footer{
    padding: 80px 24px;
}
.info-area{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, minmax(0,1fr));
    .footer-logo{
        width: 64px;
        grid-column: 1 / span 4;
    }
    .btn-sign-more{
        position: relative;
        grid-column: 5 / -1;
        width: 100%;
        height: 64px;
        margin-bottom: 64px;
        font-size: 13px;
    }
    .btn-sign{
        display: block;
        min-height: 64px;
        line-height: 64px;
        padding: 0 32px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #000;
        box-sizing: border-box;
    }
    .min-desc{
        display: none;
    }
}
.info-list-area{
    &.area1{
         grid-column: 5 / span 2;
    }
    &.area2{
        grid-column: 7 / span 2;
    }
}
.info-list{
    .info-item{
        margin-bottom: 8px;
    }
    .link-item{
        display: block;
        line-height: 2.1em;      
    }
}
.footer-desc-area{
    grid-column: 10 / -1;
    img{
        margin-top: 64px;
        width: 32px;
    }
}
.desc-box{
    margin-top: 64px;
    grid-column: 5 / span 4;
}
.footer-util-area{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 80px;
    padding: 40px 0;
    border-top: 1px solid #00000010;
    line-height: 1.25;
    letter-spacing: 0.12em;
    font-size: 9px;
    .policy-area{
        display: flex;
        gap: 40px;
        .link-item{
            display: inline-block;
        }
    }
    .sns-area{
        display: flex;
        gap: 40px;
        .link-item{
            display: block;
        }
    }
    .set-area{
        display: flex;
        gap: 32px;
        .size-box{
            display: flex;
            span{
                display: block;
                text-transform: uppercase;
                margin-right: 8px;
            }
        }
        .btn-size{
            display: block;
            opacity: 0.5;
            &.imperial{
                margin-right: 8px;
            }
            &.active{
                opacity: 1;
            }
        }
    }
}
.contact{
    display: block;
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 50px;
    height: 50px;
    visibility: hidden;
    opacity: 0;
    background: #F9FCF8;
    border: 1px solid #B9BBB8;
    z-index: 5;
    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &.show{
        visibility: visible;
        opacity: 1;
        bottom: 10px;
        transition: bottom 0.5s, opacity 0.3s;
    }
}


@media (max-width: 1020px){
    .info-area{
        grid-template-columns: repeat(8, minmax(0,1fr));
        gap: 16px;
        .footer-logo{
            grid-column: 1 / span 2;
        }
        .btn-sign-more{
            grid-column: 3 / span 6;
            .min-desc{
                display: block;
                opacity: 0.5;
                margin-top: 10px;
                text-align: center;
            }
        }
        .btn-sign{
            .desc {
              display: none;
            }
            .desc-sign{
                width: 100%;
                text-align: center;
                font-size: 15px;
            }   
        }
    }
    .info-list-area{
        &.area1{
             grid-column: 3 / span 2;
        }
        &.area2{
            grid-column: 5 / span 2;
        }
    }
    .desc-box{
        margin-top: 30px;
        grid-column: 3 / span 6;
    }
    .footer-desc-area{
        grid-column: 7 / span 2;
    }
    .footer-util-area{
        margin-top: 40px;
        flex-wrap: wrap;
        .policy-area{
            gap: 20px;
        }
        .sns-area{
            gap: 20px;
        }
        .set-area{
            gap: 20px;
        }
    }
}

@media (max-width: 950px){
    .footer{
        .desc-box{
            grid-column: 3 / span 4;
            text-align: center;
            color: rgba(000, 000, 000, 0.5)
        }
    }
    .info-area{
        .footer-logo{
            grid-column: 4 /span 2;
            place-self: center;
        }
        .btn-sign-more{
            grid-column: 1 / -1;
        }
    }
    .info-list-area{
        
        &.area1{
            grid-column: 1 /span 4;
        }
        &.area2{
            grid-column: 5 /span 4;
            text-align: right;
        }
    }
    .footer-desc-area{
        grid-column: 2 / span 6;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin-top: 20px;
        }
    }

    .footer-util-area{
        display: flex;  
        flex-direction: column;
        align-items: center;
        padding: 0 0 50px;
        .policy-area{
            padding: 20px 0;
            width: 100%;
            justify-content: center;
            border-top: 1px solid rgba(0, 0, 0, 0.062745098);
        }
        .sns-area{
            padding: 20px 0;
            width: 100%;
            justify-content: space-evenly;
            border-top: 1px solid rgba(0, 0, 0, 0.062745098);
            order: -1;
        }
        .set-area{
            padding: 20px 0;
            width: 100%;
            justify-content: center;
            border-top: 1px solid rgba(0, 0, 0, 0.062745098);
        }
    }

}