@font-face {
    font-family: 'Iskry';
    src: url('./font/Iskry-Bold.woff2') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Iskry';
    src: url('./font/Iskry-Regular.woff2') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Sohne';
    src: url('./font/Sohne-Leicht.woff2') format('woff');
    font-style: normal;
    font-weight: 400;
}
